.content {
  max-width: 1000px;
  max-height: 500px;
  margin: auto;
  /*background: white;*/
  padding: 5px;
  
}
h4{
	text-align:center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;		
	}
	
body{
	
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  width: 100%;
  padding: 10px;
}
.form{
  border-radius: 5px;
  background-color: #f0f0f0; 
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */ 
  margin: auto;
 }
 


.btns{
	text-align:center;
	
}
.btns button{
  border-radius: 5px;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px 24px 10px 24 px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */ 
  margin: auto;  
  
  

}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
body 
{
	background-color:hsl(0, 0%, 94%);
	
}

/*div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}*/
